.grid {
  height: calc(100vh - 5rem - 2.1rem);
  display: grid;

  &.grid-size-small {
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
  }

  &.grid-size-medium {
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(32, 1fr);
  }

  &.grid-size-large {
    grid-template-columns: repeat(64, 1fr);
    grid-template-rows: repeat(64, 1fr);
  }

  .node {
    cursor: pointer;
    user-select: none;
    background-color: #000159;
    transition: 150ms ease-in-out background-color;
    border: 1px solid #00537f;

    &.startNode {
      background-color: #026800 !important;
    }

    &.endNode {
      background-color: #8c7600 !important;
    }

    &.obstacleNode {
      background-color: #1c1c1c;
    }

    &.pathNode {
      background-color: #d9d9d9;
    }
    &.searchedNode {
      background-color: #0096c7;
    }
  }
}
