.grid {
  height: calc(100vh - 5rem - 2.1rem);
  display: grid;

  &.grid-size-small {
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
  }

  &.grid-size-medium {
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(32, 1fr);
  }

  &.grid-size-large {
    grid-template-columns: repeat(64, 1fr);
    grid-template-rows: repeat(64, 1fr);
  }

  .node {
    cursor: pointer;
    user-select: none;
    transition: 150ms ease-in-out background-color;

    &.startNode {
      background-color: #24b424 !important;
    }

    &.endNode {
      background-color: #fb8500 !important;
    }

    &.obstacleNode {
      background-color: #333333;
    }

    &.pathNode {
      background-color: #67a6ba;
      border: none;
    }
    &.searchedNode {
      background-color: #ebeb6a;
      border: none;
    }
  }
}
