.container {
  bottom: -2.1rem;
  position: absolute;
  left: 0;
  right: 0;
  height: 2.1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  transition: 500ms ease-in-out height, 800ms ease-in-out opacity;
  background-color: #023e8a;
  overflow: hidden;
  color: white;

  .flex {
    &--column {
      flex-direction: column;
      align-items: start !important;
    }

    &--space-around {
      padding: 0 5rem 0 5rem;
    }

    display: flex;
    align-items: center;

    .row {
      display: flex;
      margin-bottom: 2rem;

      .selection-box {
        background-color: #03045e;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5rem;
        height: 4.5rem;
        margin-right: 1rem;
        transition: transform 200ms ease-in-out,
          background-color 200ms ease-in-out;
        p {
          margin: 0;
        }

        &.selected {
          background-color: #ade8f4;
          color: #000;
          box-shadow: 4px 4px 10px 5px #181951;
          transform: translate3d(0, -5px, 10px);
        }

        &:nth-child(3) {
          margin: 0;
        }
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;

      button {
        border: none;
        border-radius: 0.25rem;
        transition: 150ms ease-in-out;

        &:active {
          transform: scale(0.98);
        }

        &:nth-child(1) {
          margin-bottom: 1rem;
          background-color: #c49b34;

          &:hover {
            background-color: lighten($color: #c49b34, $amount: 5);
          }
        }
        padding: 1rem;
        cursor: pointer;

        &:nth-child(2) {
          background-color: #333;
          color: white;

          &:hover {
            background-color: lighten($color: #333, $amount: 5);
          }
        }
      }
    }
  }

  input[type="number"] {
    background-color: #03045e;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    outline: none;
    border: none;
    padding: 0.5rem 0 0.5rem 0;
    width: 100%;
    border-radius: 5px;
    color: white;
    flex-grow: 1;
    font-size: 1rem;
  }

  .title {
    cursor: pointer;
    background-color: #0077b6;
    height: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    height: 1.8rem;
  }

  p {
    &.p-large {
      font-size: 1.4rem;
    }
  }

  &.opened {
    height: 400px;
    z-index: 20;
  }

  &.closing {
    z-index: 20;
  }

  .content {
    padding: 1rem;

    h3:nth-child(1) {
      margin-bottom: 10px;
    }
  }

  .copyright {
    margin-top: 1vw;
    text-align: center;
    font-size: 0.9rem;
    color: #737373;
  }
}
