.container {
  bottom: -2.1rem;
  position: absolute;
  left: 0;
  right: 0;
  height: 2.1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  transition: 500ms ease-in-out height, 800ms ease-in-out opacity;
  background-color: #023e8a;
  overflow: hidden;
  color: white;

  .grid {
    position: relative;
    display: grid;
    padding: 1rem 5rem 0 5rem;
    grid-template-columns: repeat(2, 17.5rem);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 5rem;
    .selection-box {
      background-color: #03045e;
      border-radius: 10px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5rem;
      height: 4.5rem;
      margin-right: 1rem;
      transition: transform 200ms ease-in-out,
        background-color 200ms ease-in-out;
      p {
        margin: 0;
      }

      &.selected {
        background-color: #ade8f4;
        color: #000;
        box-shadow: 4px 4px 10px 5px #181951;
        transform: translate3d(0, -5px, 10px);
      }

      &:nth-child(3) {
        margin: 0;
      }
    }

    .row {
      display: flex;
      margin-bottom: 2rem;
    }
    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 15rem) !important;
    }

    @media screen and (max-width: 426px) {
      width: 25rem;
      grid-template-columns: repeat(1, 15rem) !important;
      margin: auto;
    }
  }

  input[type="number"] {
    background-color: #03045e;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    outline: none;
    border: none;
    padding: 0.5rem 0 0.5rem 0;
    width: 100%;
    border-radius: 5px;
    color: white;
    height: 2rem;
    font-size: 1rem;
  }

  button {
    border: none;
    border-radius: 0.25rem;
    transition: 150ms ease-in-out;

    &:active {
      transform: scale(0.98);
    }

    padding: 1rem;
    cursor: pointer;

    &.set-obstacles {
      background-color: #333;
      color: white;
      width: 100%;
      font-size: 1rem;
      background-color: #03045e;

      &:hover {
        background-color: lighten($color: #03045e, $amount: 5);
      }
    }

    &.apply {
      position: absolute;
      padding: 1rem 1.2rem;
      background-color: #ffd700;
      bottom: 30px;
      right: 30px;
      border-radius: 50%;
      @media screen and (max-width: 426px) {
        right: -1.2rem;
        bottom: 20px;
      }
      @media screen and (max-width: 340px) {
        right: 0rem;
        bottom: 0px;
      }
    }
  }

  ::ng-deep {
    .ng-dropdown-panel-items .ng-option.ng-option-selected,
    .ng-dropdown-panel,
    .ng-option.ng-option-marked {
      color: white;
      &.ng-select-bottom {
        border: none;
      }
    }
    .ng-select.algorithm-dropdown .ng-select-container {
      cursor: pointer;
      width: 100%;
      background-color: #03045e;
      border: none;
      outline: none;
      color: white !important;
      .ng-option.ng-option-selected.ng-option-marked {
        color: white !important;
      }
    }

    &.ng-option {
      background-color: #03045e !important;
      color: white;
      &:hover {
        background-color: lighten($color: #03045e, $amount: 5) !important;
        color: white;
      }
    }
  }

  .title {
    cursor: pointer;
    background-color: #0077b6;
    height: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    height: 1.8rem;
  }

  p {
    &.p-large {
      font-size: 1.4rem;
    }
  }

  &.opened {
    @media screen and (max-width: 426px) {
      height: 450px;
    }
    height: 400px;
    z-index: 20;
  }

  &.closing {
    z-index: 20;
  }

  .content {
    padding: 1rem;

    h3:nth-child(1) {
      margin-bottom: 10px;
    }
  }

  .copyright {
    position: absolute;
    bottom: 0.25rem;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-size: 0.9rem;
    color: #737373;
    @media screen and (max-width: 426px) {
      bottom: -3rem;
    }
  }
}
