<div class="container" #menu [ngClass]="{ opened: isOpen }">
  <div class="title" (click)="!isOpen ? openMenu() : closeMenu()">
    <img src="../../assets/menu-icon.png" alt="" />
  </div>
  <div class="grid">
    <div>
      <p class="pb-2 p-large">Grid size:</p>
      <div class="row justify-space-between">
        <div
          class="selection-box"
          #sizeSmall
          (click)="onGridSizeChange('85', sizeSmall)"
        >
          <p>Small</p>
        </div>
        <div
          class="selection-box selected"
          #sizeMedium
          (click)="onGridSizeChange('341', sizeMedium)"
        >
          <p>Medium</p>
        </div>
        <div
          class="selection-box"
          #sizeLarge
          (click)="onGridSizeChange('1365', sizeLarge)"
        >
          <p>Large</p>
        </div>
      </div>
    </div>
    <div>
      <p class="pb-2 p-large">Algorithm:</p>
      <ng-select
        class="algorithm-dropdown"
        [searchable]="false"
        [clearable]="false"
        [(ngModel)]="selectedAlgorithm"
      >
        <ng-option value="aStar">A*</ng-option>
        <ng-option value="bfs">BFS</ng-option>
        <ng-option value="dfs">DFS</ng-option>
      </ng-select>
    </div>
    <div style="height: min-content" class="row w-100 align-items-center">
      <p class="p-large mr-1">Obstacles:</p>
      <input
        #obstacles
        [value]="'341'"
        type="number"
        min="0"
        style="text-align: center"
      />
    </div>
    <div>
      <button class="set-obstacles" (click)="startDrawingObstacles()">
        Draw obstacles manually
      </button>
    </div>
    <button class="apply" (click)="applySettings()">
      <img src="../../assets/check-icon.png" alt="" />
    </button>
    <div class="copyright">Copyrighted by Mohamed Emad Mahmoud &copy; 2022</div>
  </div>
</div>
