.container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2.1rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border: 1px solid #898989;
  transition: 500ms ease-in-out height, 800ms ease-in-out opacity;
  background-color: #e4e4e4;
  overflow: hidden;

  .flex {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .buttons {
      display: flex;
      flex-direction: column;

      button {
        border: none;
        border-radius: 0.25rem;
        transition: 150ms ease-in-out;

        &:active {
          transform: scale(0.98);
        }

        &:nth-child(1) {
          margin-bottom: 1rem;
          background-color: #c49b34;

          &:hover {
            background-color: lighten($color: #c49b34, $amount: 5);
          }
        }
        padding: 1rem;
        cursor: pointer;

        &:nth-child(2) {
          background-color: #333;
          color: white;

          &:hover {
            background-color: lighten($color: #333, $amount: 5);
          }
        }
      }
    }
  }

  .title {
    cursor: pointer;
    background-color: #c49b34;
    height: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    height: 1.8rem;
  }

  p {
    margin-right: 20px;
  }

  &.opened {
    height: 330px;
    z-index: 20;
  }

  &.closing {
    z-index: 20;
  }

  .content {
    padding: 1rem;

    h3:nth-child(1) {
      margin-bottom: 10px;
    }

    input[type="radio"] {
      margin-right: 5px;
      margin-bottom: 20px;
    }
  }

  .copyright {
    margin-top: 1vw;
    text-align: center;
    font-size: 0.9rem;
    color: #737373;
  }
}
