@font-face {
  font-family: "IBM Plex Sans";
  src: url("assets/fonts/IBM-font.ttf") format("ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
}

html {
  font-size: calc(0.4vw + 0.7em);

  body {
    position: relative;
    background-color: #000159;
  }
}
